<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Catálogo Tigo
    </ion-title>
    <ion-buttons slot="end">
      <!-- Solo mostrar botón si es invitado -->
      <ion-button *ngIf="isGuest" [routerLink]="['/login']" fill="solid" color="light">
        Ingresar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar color="primary">
    <ion-searchbar 
      placeholder="Buscar plan..." 
      [(ngModel)]="textoBuscar" 
      (ionChange)="filtrar()"
      [debounce]="500">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top background-light">

  <div class="ion-padding-horizontal">
    <ion-segment [(ngModel)]="segmentoFiltro" (ionChange)="filtrar()" scrollable>
      <ion-segment-button value="todos">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Básico / Entrada">
        <ion-label>Básico</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Medio / Estándar">
        <ion-label>Medio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Premium / Alto">
        <ion-label>Premium</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let plan of planes">
        <ion-card>
          <div style="height: 140px; overflow: hidden;">
            <img [src]="plan.imagen_url || 'assets/placeholder-plan.png'" style="width: 100%; object-fit: cover;">
          </div>
          
          <ion-card-header>
            <ion-card-subtitle>{{ plan.segmento }}</ion-card-subtitle>
            <ion-card-title color="primary">{{ plan.nombre }}</ion-card-title>
            <h1 style="color: #00377d; font-weight: bold;">{{ plan.precio | currency }}<small>/mes</small></h1>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item class="small-item">
                <ion-icon name="wifi" slot="start"></ion-icon>
                <ion-label>{{ plan.datos }}</ion-label>
              </ion-item>
              <ion-item class="small-item">
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label>{{ plan.minutos }}</ion-label>
              </ion-item>
            </ion-list>
            
            <ion-button expand="block" [routerLink]="['/plan-detail', plan.id]" class="ion-margin-top">
              Ver Detalles y Contratar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="planes.length === 0" class="ion-text-center ion-padding">
    <p>No se encontraron planes con esos filtros.</p>
  </div>

</ion-content>